<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h4>Registered Successfully</h4>
        <p>You can now Login using your Credential</p>
        <hr />
        <p>Thankyou !</p>
    </div>
</div>